$home-bg-color:#014E56;
$description-bg-color:#012f34;
$team-preview-bg-color: #004047;
$footer-bg-color: #f67e7e;
$white: #ffffff;
$orange: #f67e7e;
$circle-color:#2c6269;
$member-name-color: #79c8c7;

$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;